@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@100;300&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
} 

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #9a56a6;
    /*linear-gradient(135deg, #222433, #404461)*/
}

/* Navigation bar */
nav{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    background: #341950;
    box-shadow: 0
                20px
                35px
                rgba(0, 0, 0, 0.1);
}

nav:hover{
    width: 230px;
    transition: all
                0.5s
                ease;
}

/* Logo section navigation bar  */
.logo{
    text-align: center;
    display: flex;
    transition: all 
                0.5s 
                ease;
    margin: 10px 
            0 
            0
            10px;
}

/* Image logo in navigation bar  */
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Name of the system in navigation bar  */
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 36px;
    text-transform: uppercase;
}

hr{
    margin: 10px auto;
    padding: 0px;
    border-top: 2px solid #585858;
}

/* title in navigation bar  */
.title{
    color: #F8F8F8;
    text-align: center;
    margin-top: 10px;
}

/* Link in navigation bar */
a{
    color: #F8F8F8;
    position: relative;
    font-size: 10px;
    display: table;
    width: 300px;
    padding: 10px;
}

/* Icon in navigation bar */
.fas,
.fab{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 25px;
    text-align: center;
}

/* Navigation element */
nav .nav-item{
    font-size: 14px;
    position: relative;
    top: 12px;
    margin-left: 10px;
}

/* Navigation for hover (background) */
.menu-list:hover{
    background: #e1a7cb;
    color: #000;
}

/* Logout link */
.logout{
    position: absolute;
    bottom: 0;
}

/* Features Box */
.box{
    background: #9a56a6;
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
}

.box a{
    padding: 10px
             0
             10px
             0;
}

.box a:hover{
    background: #e1a7cb;
    width: 100%;
    border-radius: 10px;
}

/* top right bottom left of the content box */
.contentBox{
    margin: 0px;
    padding: 20px 20px 20px 110px;
}

/* Registration box */
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    margin: 0;
    box-shadow: 0 5px 10px
                rgba(0,0,0,2);
    border-radius: 15px;
}

.container fieldset{
    border-radius: 10px;
    padding: 10px 10px;
}

.container legend{
    font-size: 25px;
    font-weight: 700;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 4px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    /*display: block;*/
    font-weight: 600;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #222433;
}

.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box select:focus,
.user-details .input-box select:valid{
    border-color: #222433;
}

form .room-details .room-type{
    font-size: 16px;
    font-weight: 600;
}

form .room-details .category{
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
}

.room-details .category label{
    display: flex;
    align-items: center;
}

.room-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three/*,
#dot-4:checked ~ .category label .four*/{
    border-color: #341950;
    background: #9a56a6;
}

form input[type="radio"]{
    display: none;
}

form .room-details .category .room{
    font-size: 15px;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #341950;
}

form .button input:hover{
    background: #9a56a6;
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    
    form .room-details .category{
        width: 100%;
    }
    
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
}

